{% extends "base.html" %}
{% block title %}{{ show.title }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="card">
    <h4>{{ show.title }}</h4>
</div>
    <div class="card">
        {{ show.runtime }} min | {{ show.genre }} | {{ show.year }} <br><br>
        {{ show.overview }} <br><br>
        Stars:  {{ show.actors }} <br><br>
        Genre: {{ show.genre }} <br><br>
        Rating: {{ show.rating }}☆ <br><br>
        Trailer: <br>
        <iframe id="video" src="" height="270" width="480">
        </iframe>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/embed-youtube.js') }}"></script>

{% endblock %}